body {
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#navbar-pinterest {
    background-color: white;
    position: fixed;
    width: 100vmax;
    margin: 0;
    padding: 0;
    align-items: center;
    z-index: 1;
    justify-content: space-between;
    box-shadow: 0px 1px gainsboro;
}

#navbar-pinterest ul {
    display: flex;
    align-items: center;
}

#navbar-pinterest ul li {
    list-style-type: none;
    border-radius: 20px;
    padding: 10px;
    position: relative;
}

#pinterest-icon {
    float: left;
    min-width: 110%;
    height: auto;
}

#navbar-pinterest .active {
    background-color: black;
    color: white;
}

#navbar-pinterest ul li :hover {
    background-color: gainsboro;
    border-radius: 50px;
}

.finder {
    padding: 10px;
    background-color: gainsboro;
    width: 60vmax;
    border: 0px;
    border-radius: 50px;
}

#navbar-pinterest div {
    display: inline;
}

main {
    position: absolute;
    top: 85px;
}

#content {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card-image img {
    max-width: 300px;
    max-height: 533px;
    border-radius: 15px;
    margin: 10px;
    overflow: auto;
}

.card-image:hover {
    opacity: 0.5;
}

.overlay {
    position: absolute;
    /* top: 12px;
    left: 120px; */
    top: 11px;
    width: 300px;
    height: 533px;
    border-radius: 10px;
    opacity: 0;
}

.card-image:hover .overlay {
    opacity: 1;
}

.overlay-btn01 {
    background-color: red;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    color: white;
    padding: 15px;
    font-size: 16px;
    position: relative;
    left: 75%;
    top: 1.5%;
    cursor: pointer;
}

.overlay-btn01:hover {
    background-color: rgba(180, 0, 0, 0.9); 
}

.overlay-btn02 {
    background-color: gainsboro;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    color: black;
    padding: 15px;
    font-size: 16px;
    position: relative;
    left: 25%;
    top: 89%;
    cursor: pointer;
}

.overlay-btn02:hover {
    background-color: white; 
}

.overlay-btn03 {
    background-color: gainsboro;
    border: none;
    border-radius: 50px;
    font-weight: bold;
    color: black;
    padding: 15px;
    font-size: 16px;
    position: relative;
    left: 25%;
    top: 89%;
    cursor: pointer;
}

.overlay-btn03:hover {
    background-color: white; 
}

